extends ./_layouts/default

block vars
  -title        = '総合トップページ'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -typePage     = 'type-a'
  -path         = '.'
  -imgPC        = path+'/img/'+pageID+'/'
  -imgSP        = path+'/img/'+pageID+'/sp/'


block container
  section.section-top-keyvisual
    .inner-wrapper
      .top-keyvisual.js-keyvisual-top
        .keyvisual-wrapper
          .keyvisual-image
            img.md(src=imgPC+"keyvisual_img_02.jpg" width="885" height="590" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            img.sm(src=imgSP+"keyvisual_img_02.png" width="768" height="360" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
          .keyvisual-content
            h2.title-keyvisual
              img.md(src=imgPC+"keyvisual_title_01.svg" width="104" height="399" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
              img.sm(src=imgSP+"keyvisual_title_01.svg" width="464" height="162" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            p.text-keyvisual 仕事を編み出し、スキルを編み出し、未来を編み出す。<br>私たちは人と企業を、「よかった」で結びます
        .keyvisual-wrapper
          .keyvisual-image
            img.md(src=imgPC+"keyvisual_img_05.jpg" width="290" height="328" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            img.sm(src=imgSP+"keyvisual_img_02.png" width="768" height="360" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
          .keyvisual-content
            h2.title-keyvisual
              img.md(src=imgPC+"keyvisual_title_01.svg" width="104" height="399" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
              img.sm(src=imgSP+"keyvisual_title_01.svg" width="464" height="162" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            p.text-keyvisual 仕事を編み出し、スキルを編み出し、未来を編み出す。<br>私たちは人と企業を、「よかった」で結びます
        .keyvisual-wrapper
          .keyvisual-image
            img.md(src=imgPC+"keyvisual_img_05.jpg" width="290" height="328" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            img.sm(src=imgSP+"keyvisual_img_02.png" width="768" height="360" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
          .keyvisual-content
            h2.title-keyvisual
              img.md(src=imgPC+"keyvisual_title_01.svg" width="104" height="399" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
              img.sm(src=imgSP+"keyvisual_title_01.svg" width="464" height="162" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            p.text-keyvisual 仕事を編み出し、スキルを編み出し、未来を編み出す。<br>私たちは人と企業を、「よかった」で結びます
        .keyvisual-wrapper
          .keyvisual-image
            img.md(src=imgPC+"keyvisual_img_05.jpg" width="290" height="328" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            img.sm(src=imgSP+"keyvisual_img_02.png" width="768" height="360" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
          .keyvisual-content
            h2.title-keyvisual
              img.md(src=imgPC+"keyvisual_title_01.svg" width="104" height="399" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
              img.sm(src=imgSP+"keyvisual_title_01.svg" width="464" height="162" loading="eager" alt="最善を尽くし、最高のパートナーへ。")
            p.text-keyvisual 仕事を編み出し、スキルを編み出し、未来を編み出す。<br>私たちは人と企業を、「よかった」で結びます
      a.trans.content-scroll(href="#job")
        .image-background
          img.md(src=imgPC+"keyvisual_img_03.png" width="206" height="172" loading="eager" alt="")
          img.sm(src=imgSP+"keyvisual_img_03.png" width="229" height="253" loading="eager" alt="")
        .image-text
          img.md(src=imgPC+"keyvisual_img_04.png" width="48" height="121" loading="eager" alt="SCROLL")
          img.sm(src=imgSP+"keyvisual_img_04.png" width="64" height="190" loading="eager" alt="SCROLL")

  section.section-top-job#job
    .introduction-content
      .wrapper
        h2.common-title
          span お仕事をお探しの方
        .inner-content
          h3.base-title さまざまな事業を展開している<br class="sm">旭化成グループで働く。
            br
            |あなたにピッタリの働き方を<br class="sm">旭化成アミダスで見つける。
          p.common-text テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .main-content
      .wrapper
        h3.main-title
          a.link-title(href="#") 旭化成アミダスで出来る<br class="sm">仕事の探し方
        a.banner-content.link-content(href="#")
          .banner-image
            h4.block-title 派遣で働きたい方
          .inner-content
            p 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸で
        .pick-up-content
          h4.pick-up-title.font-alata Pick Up Contents
          ul.pick-up-list
            li.pick-up-item
              a.button-common-line.is-style-direct(href="#")
                span.button-wrapper ライフスタイル別特集
                span.button-icon
            li.pick-up-item
              a.button-common-line.is-style-direct(href="#")
                span.button-wrapper スタッフインタビュー
                span.button-icon
            li.pick-up-item
              a.button-common-line.is-style-direct(href="#")
                span.button-wrapper 拠点別特集
                span.button-icon
            li.pick-up-item
              a.button-common-line.is-style-direct(href="#")
                span.button-wrapper 派遣現場座談会
                span.button-icon
            li.pick-up-item
              a.button-common-line.is-style-direct(href="#")
                span.button-wrapper 業界・職種別特集
                span.button-icon
            li.pick-up-item
              a.button-common-line.is-style-direct(href="#")
                span.button-wrapper 初めてご利用の方へ
                span.button-icon
        ul.work-list
          li.work-detail
            a.work-link(href="#")
              .work-block
                figure.work-image
                  img.md(src=imgPC+"img_work_01.jpg", width="408" height="280" alt="転職を 希望している方" loading="lazy")
                  img.sm(src=imgSP+"img_work_01.jpg", width="408" height="280" alt="転職を 希望している方" loading="lazy")
                h4.work-title 転職を
                  br
                  |希望している方
              p.common-text 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸で
          li.work-detail
            a.work-link(href="#")
              .work-block
                figure.work-image
                  img.md(src=imgPC+"img_work_02.jpg", width="408" height="280" alt="製造現場で 長く働きたい方" loading="lazy")
                  img.sm(src=imgSP+"img_work_02.jpg", width="408" height="280" alt="製造現場で 長く働きたい方" loading="lazy")
                h4.work-title 製造現場で
                  br
                  |長く働きたい方
              p.common-text 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸で

  section.section-common-news
    .wrapper
      .news-left
        h2.section-title
          span.is-english
            img.md(src=imgPC+"news_ttl_english.png", width="159" height="336" alt="NEWS" loading="lazy")
            img.sm(src=imgSP+"news_ttl_english.png", width="502" height="240" alt="NEWS" loading="lazy")
          span.md.is-japanese お知らせ
          span.sm.is-japanese お知らせ・イベント情報
      .news-right
        +newsList([
          {
            datetime: '2021-10-20',
            time: '2021.10.20',
            category: '登録スタッフ',
            title: '「クラブオフ」のページを更新しました'
          },
          {
            datetime: '2021-10-20',
            time: '2021.10.20',
            category: '派遣',
            title: '名古屋支店が移転しました'
          },
          {
            datetime: '2021-10-20',
            time: '2021.10.20',
            category: '登録スタッフ',
            title: '旭化成アミダス 契約社員募集のお知らせ【募集は終了しました】'
          },
          {
            datetime: '2021-10-20',
            time: '2021.10.20',
            category: '登録スタッフ',
            title: '「クラブオフ」のページを更新しました'
          },
          {
            datetime: '2021-10-20',
            time: '2021.10.20',
            category: '登録スタッフ',
            title: '「クラブオフ」のページを更新しました'
          }
        ])
        a.middle-button.font-alata(href="#") View All

  section.section-top-menu
    h2.section-label
      img(src=imgPC+"menu_label_01.svg" width="330" height="87" loading="lazy" alt="MENU")
    ul.list-top-menu
      li.list-item.is-item-01.is-accordion-active.js-accordion-match
        .item-wrapper
          .title-top-menu.is-accordion-active.js-accordion-toggle
            .title-wrapper
              h3.title-label
                span.label-wrapper 人材派遣
              p.title-detail
                span.detail-wrapper 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに臨む木曾川の岸で木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であり、あるところは数十間の深さに
            span.title-background
          .story-top-menu.is-accordion-active.js-accordion-target
            .story-wrapper
              .story-list-issue
                ul
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 人材派遣 TOP
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 業界・職種別特集
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 派遣求人検索
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper スタッフインタビュー
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 派遣スタッフ仮登録フォーム
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 派遣現場座談会
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper ライフスタイル別特集
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper よくあるご質問
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 拠点別特集
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 労働者派遣法改正関連
                      span.button-icon
              .story-list-staff
                ul
                  li
                    a.button-common-highlight.is-style-orange(href="#")
                      span.button-wrapper
                        span.button-text 初めての方はこちら
                        span.button-icon
                  li
                    a.button-common-highlight.is-style-orange(href="#")
                      span.button-wrapper
                        span.button-text ご登録済み派遣スタッフの方はこちら
                        span.button-icon
        span.item-background
      li.list-item.is-item-02.js-accordion-match
        .item-wrapper
          .title-top-menu.js-accordion-toggle.js-title-match
            .title-wrapper
              h3.title-label
                span.label-wrapper 転職支援
              p.title-detail
                span.detail-wrapper 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であ<br class="md">り、あるところは数十間の深さに臨む木曾川の岸で
              a.button-common-line.is-style-more.direction-arrow(href="javascript:;")
                span.button-wrapper.font-alata Learn More
                span.button-icon
            span.title-background
          .story-top-menu.js-accordion-target
            .story-wrapper
              .story-list-issue
                ul
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 転職求人検索
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper お仕事が決まるまでの流れ
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 旭化成アミダスの<br class="sm">転職支援サービスについて
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 転職コンサルタント紹介
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 旭化成グループの会社だからできる<br class="sm">転職支援
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper コンサルタント×転職者　対談
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 旭化成アミダスの得意な領域・職種
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper よくあるご質問
                      span.button-icon
        span.item-background
      li.list-item.is-item-03.js-accordion-match
        .item-wrapper
          .title-top-menu.js-accordion-toggle
            .title-wrapper
              h3.title-label
                span.label-wrapper 受付業務のお仕事
              p.title-detail
                span.detail-wrapper 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であ<br class="md">り、あるところは数十間の深さに臨む木曾川の岸で
              a.button-common-line.is-style-more.direction-arrow(href="javascript:;")
                span.button-wrapper.font-alata Learn More
                span.button-icon
            span.title-background
          .story-top-menu.js-accordion-target
            .story-wrapper
              .story-list-issue
                ul
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper アミダスの受付業務について
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper よくあるご質問
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 社員インタビュー
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 募集業務
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 研修制度
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper お問い合わせ
                      span.button-icon
        span.item-background
      li.list-item.is-item-04.js-accordion-match
        .item-wrapper
          .title-top-menu.js-accordion-toggle
            .title-wrapper
              h3.title-label
                span.label-wrapper 製造現場のお仕事
              p.title-detail
                span.detail-wrapper 木曾路はすべて山の中である。あるところは岨づたいに行く崖の道であ<br class="md">り、あるところは数十間の深さに臨む木曾川の岸で
              a.button-common-line.is-style-more.direction-arrow(href="javascript:;")
                span.button-wrapper.font-alata Learn More
                span.button-icon
            span.title-background
          .story-top-menu.js-accordion-target
            .story-wrapper
              .story-list-issue
                ul
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 製造現場のお仕事について
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper よくあるご質問
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 配属地域紹介
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 募集中案件
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 社員インタビュー
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper お問い合わせ
                      span.button-icon
                  li
                    a.button-common-line.is-style-direct(href="#")
                      span.button-wrapper 研修制度
                      span.button-icon
        span.item-background
    a.button-common-highlight.is-style-blue(href="#")
      span.button-wrapper
        span.button-text ISO審査員募集
        span.button-icon

  section.section-top-about
    ul.list-top-about
      li.list-item.is-blue
        .item-wrapper
          span.item-decoration
          h2.item-label
            span.label-wrapper 企業のご担当者の方
          .item-thumbnail
            figure.thumbnail-background
              img.md(src=imgPC+"about_img_01.jpg" width="712" height="346" loading="lazy" alt="企業のご担当者の方")
              img.sm(src=imgSP+"about_img_01.jpg" width="368" height="318" loading="lazy" alt="企業のご担当者の方")
          .item-info
            .info-wrapper
              p.info-detail テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              a.button-common-line.is-style-more(href="#")
                span.button-wrapper.font-alata Learn More
      li.list-item.is-orange
        .item-wrapper
          span.item-decoration
          h2.item-label
            span.label-wrapper 採用情報
          .item-thumbnail
            figure.thumbnail-background
              img.md(src=imgPC+"about_img_02.jpg" width="568" height="502" loading="lazy" alt="採用情報")
              img.sm(src=imgSP+"about_img_02.jpg" width="368" height="318" loading="lazy" alt="採用情報")
          .item-info
            .info-wrapper
              p.info-detail テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              a.button-common-line.is-style-more(href="#")
                span.button-wrapper.font-alata Learn More
              ul.info-list-staff
                li
                  a.button-common-highlight.is-style-orange(href="#")
                    span.button-wrapper
                      span.button-text 新卒採用（ITエンジニア）
                      span.button-icon
                li
                  a.button-common-highlight.is-style-orange(href="#")
                    span.button-wrapper
                      span.button-text 新卒採用（総合職）
                      span.button-icon
                li
                  a.button-common-highlight.is-style-orange(href="#")
                    span.button-wrapper
                      span.button-text 中途採用
                      span.button-icon
      li.list-item.is-skyblue
        .item-wrapper
          span.item-decoration
          h2.item-label
            span.label-wrapper 企業情報
          .item-thumbnail
            figure.thumbnail-background
              img.md(src=imgPC+"about_img_03.jpg" width="712" height="346" loading="lazy" alt="企業情報")
              img.sm(src=imgSP+"about_img_03.jpg" width="368" height="318" loading="lazy" alt="企業情報")
          .item-info
            .info-wrapper
              p.info-detail テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              a.button-common-line.is-style-more(href="#")
                span.button-wrapper.font-alata Learn More
